@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: "Overpass", sans-serif;
font-family: "Ubuntu", sans-serif; */
@layer components {
  img {
    max-width: 100%;
  }
  body {
    font-family: "Ubuntu" sans-serif;
  }
  .section-hero {
    background-image: linear-gradient(
        to bottom right,
        hsla(13, 100%, 72%, 0.942),
        hsla(356, 100%, 66%, 0.971)
      ),
      url(../images/bg-pattern-intro-mobile.svg);
    /* background-size: auto; */
    background-size: auto;
    background-position: center;
    border-radius: 0% 0% 10% 14% / 10% 10% 0% 15%;
  }
  .container {
    /* background-color: green; */
    /* height: 100%; */
  }
  .logo {
    width: 5rem;
  }
  .hamburger {
    height: 1rem;
  }
  .header-cont {
    text-align: center;
  }
  .main-heading {
    font-size: 1.8rem;
    line-height: 1.2;
    display: block;
    font-family: "Overpass", sans-serif;
    font-weight: 700;
  }
  .header-text {
    font-weight: 500;
  }

  /* Styling the section getting started */
  .section-getting {
    border-radius: 0% 10% 10% 12% / 10% 16% 0% 14%;
  }

  /* Stlying the buttons */
  .start-free,
  .learn-more {
    padding: 0.4rem 1rem;
    border-radius: 10rem;
    text-decoration: none;
    font-weight: 700;
    border: 1px solid transparent;
    transition: all 0.2s;
  }

  .main-sub {
    margin-bottom: 3rem;
  }
  h2 {
    margin-bottom: 1.5rem;
    background-color: #ffffff00;
  }

  /* Styling the getting started section */
  .section-getting {
    /* margin-top: 12rem; */
    background-image: linear-gradient(
      hsla(237, 18%, 21%, 0.524),
      hsl(237, 23%, 32%)
    );
  }
  .getting-started {
    /* height: 5rem; */
    background-image: url(../images/bg-pattern-circles.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .mg {
    transform: translateY(-9rem);
  }
  .get-content {
    transform: translateY(-7rem);
  }
  .logo {
    margin-inline: auto;
  }
  .footer-lk {
    color: hsl(240, 2%, 79%);
    font-weight: 400;
  }

  /* Styling for the dropdown */
  .product-drp {
  }
  .comp-drp {
  }
  .connect-drp {
  }
  .product-drp,
  .comp-drp,
  .connect-drp {
    position: relative;
  }
  .dropdown {
    position: absolute;
    display: none;
    background-color: #fff;
    color: #000;
    padding: 1rem;
    border-radius: 10px;
    width: 8rem;
    opacity: 0;
  }
  .product-drp:hover,
  .comp-drp:hover,
  .connect-drp:hover {
    cursor: pointer;
  }
  .product-drp:hover .dropdown,
  .comp-drp:hover .dropdown,
  .connect-drp:hover .dropdown {
    position: absolute;
    top: 1.5rem;
    left: -1.5rem;
    display: block;
    opacity: 1;
  }

  .dropdown li {
    border-bottom: 1px solid transparent;
    transition: all 0.2s ease;
  }
  .dropdown li:hover {
    color: hsl(240, 10%, 16%);
    cursor: pointer;
    border-bottom: 1px solid #000;
  }

  @media screen and (min-width: 900px) {
    .learn-more:hover,
    .start-free:hover {
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff;
    }
  }
}
